<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DeptMapper">
    <insert id="createDept" parameterType="Dept">
        <!--<selectKey keyProperty="deptno" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>-->
        INSERT INto dept(deptno, dname, loc) VALUES (#{deptno}, #{dname}, #{loc});
    </insert>
</mapper>